.manage-team-container {
    padding: 0 15px;

    .mp-title {
        text-align: center;
        margin: 15px 0;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 600;
        color: #2980b9;
    }

    .add-new-team {}
}